// StartFeld color schema
$primary: #32E211;
$pink: #c36;
$gray: #69727d;
$error: #e72f3c;
$success: #4CAF50;
$error: #e72f3c;
$warning: #FFC107;

//common colors
$white: #fff;
$darkgray: #A9A9A9;
$lightgray: #e4e4e4;
$black: #0b0b1f;

//footer
$footer-svg-color: #32E211;
