

$primaryheader: rgba(94, 176, 223, 0.05);
$secondary: rgba(240, 246, 251, 0.4);
$text-color: rgba(43, 42, 76, 1);
$white: rgba(255, 255, 255, 1);

// StartFeld color schema
$primary: #32E211;
$pink: #c36;
$gray: #69727d;
$error: #e72f3c;
$success: #4caf50;
$error: #e72f3c;
$warning: #ffc107;

//common colors

$darkgray: #a9a9a9;
$lightgray: #e4e4e4;
$black: #0b0b1f;

//footer
$footer-svg-color: #32e211;
