@use "./colors.scss" as *;

// If you just import on demand, you can ignore the following content.
// if you want to import all styles:
@import "element-plus/theme-chalk/src/index.scss";

.el-button--primary{
    border-color: $gray !important;
    background-color: $gray !important;
}
.el-button--primary:hover{
    border-color: $primary !important;
    background-color: $primary !important;
}

