@use "./welcome.scss" as *;
@use "./colors.scss" as *;
@use "./media-query.scss" as *;
// @use './element-plus.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "GraphikLight";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/GraphikBlack/otf/GraphikLight.otf") format("otf"),
        url("../fonts/GraphikBlack/woff2/GraphikLight.woff2") format("woff2"),
        url("../fonts/GraphikBlack/ttf/GraphikLight.ttf") format("truetype");
}
@font-face {
    font-family: "GraphikRegular";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/GraphikBlack/otf/GraphikRegular.otf") format("otf"),
        url("../fonts/GraphikBlack/woff2/GraphikRegular.woff2") format("woff2"),
        url("../fonts/GraphikBlack/ttf/GraphikRegular.ttf") format("truetype");
}
@font-face {
    font-family: "GraphikSemibold";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/GraphikBlack/otf/GraphikSemibold.otf") format("otf"),
        url("../fonts/GraphikBlack/woff2/GraphikSemibold.woff2") format("woff2"),
        url("../fonts/GraphikBlack/ttf/GraphikSemibold.ttf") format("truetype");
}
p {
    font-size: 18px;
    color: $text-color;
    font-family: "GraphikRegular";
    line-height: 22px;
}
h1 {
    font-family: "GraphikSemibold";
    font-size: 3rem;
}

h2 {
    font-family: "GraphikSemibold";
    font-size: 32px;
    font-weight: 500;
}
h3 {
    font-family: "GraphikSemibold";
    color: $text-color;
    font-weight: 500;
    font-size: 20px;
}
li {
    list-style: none;
    font-family: "GraphikRegular";
    margin-bottom: 12px;
}
.custom-btn {
    padding: 10px 24px;
    border: 2px solid $text-color;
    background-color: transparent;
    border-radius: 24px;
    color: $text-color;
    font-family: "GraphikRegular";
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s , color 0.3s;
}
.custom-btn.active {
    background-color: $text-color;
    color: #fff;
}
.custom-btn:hover {
    background-color: $text-color;
    color: #fff;
}
