@use "./colors.scss" as *;
.form__wizard {
    max-width: 90%;
    margin: auto;
    margin-block: 4rem;
}

.el-button {
    border-color: $text-color;
    padding: 12px 24px;
    border: 2px solid $text-color;
    background-color: $text-color;
    border-radius: 4px;
    color: $white;
    font-family: "GraphikRegular";
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.el-button:hover, .el-button:focus {
    background-color: transparent;
    border: 2px solid $text-color;
    color: $text-color;
}
.el-form-item {
    font-family: "GraphikRegular";
     margin-top: 25px;
}
.wizard .submit-save-action .el-button + .el-button {
    margin-left: 20px !important;
}

.wizard-form .el-form-item__error {
    margin-top: 5px;
}
.el-icon svg {
    height: 1em;
    width: 1em;
    color: $success;
}

// .wizard-form .el-form-item label {
//     margin-top: 25px;
// }

.el-radio-group label {
    margin-top: 0px !important;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: $text-color !important;
    background: $primary !important;
}

.el-radio__input.is-checked + .el-radio__label {
    color: $text-color !important;
}

p {
    display: block;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.private-note-line {
    margin-top: 50px;
    margin-bottom: 20px;
}

.private-note-text {
    font-size: small;
    font-style: italic;
}

.accept-bt {
    margin-right: 30px;
}

.reject-bt:hover {
    border-color: $error !important;
    background-color: $error !important;
}

.error {
    color: $error;
}
//Color of current step
// .el-step__head.is-wait {
//     color: $primary;
//     border-color: $primary;
// }

//Color of processing step
// .el-step__head.is-process {
//     color: $pink;
//     border-color: $pink;
// }

//Color of Success step
.el-step__head.is-success {
    color: $success;
    border-color: $success;
}

.el-form-item {
    max-width: 750px;
}

.wizard .el-button + .el-button {
    margin-left: 0px !important;
}

.wizard-step {
    cursor: pointer;
}

.private-note {
    margin-top: 20px;
    max-width: 750px;
}

.form-submitted {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 35px;
}

.success {
    color: $primary;
}

.box {
    background-color: $lightgray;
    border-radius: 10px;
    max-width: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.space-bottom {
    margin-bottom: 5px;
}

.next-step {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 25px;
}

.wizard {
    margin-top: 30px;
}

.action-bt-member {
    display: flex;
    max-width: 275px;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .auth-layout {
        width: 90%;
    }
}
